@import 'src/styles/variables/colors.scss';

.image-hack.i2 {
  background-position: center;
  background-image: url('../../images/careers-img.png');
}

.careers-container {
  width: 100%;
  padding: 2.5rem;
  color: $white;
  background: $careers-backg;
}

.video-container {
  width: 100%;
  margin-bottom: 20px;
  background: $video-backg;

  .video-careers {
    width: 28rem;
    height: 15rem;
  }
}
