@import 'src/styles/mixins/breakpoint.scss';
@import 'src/styles/variables/colors.scss';

.image-hack.i1 {
  background-image: url('../../images/splash-img.jpg');
}

.splash-container {
  width: 100%;
  flex-direction: column;
  padding: 4rem 0;
  background-color: $splash-backg;
  color: $white;

  > * {
    flex: 1;
  }

  .splash-article-container {
    width: 70%;
    padding: 0 1rem 0 4rem;
    align-items: flex-start;
  }

  .splash-article {
    font-size: 0.9rem;
  }

  .splash-link {
    margin: 15px 0;
  }

  .splash-image-container {
    padding: 0 1rem;
    margin: 15px 0 0 10px;
  }

  .splash-image {
    width: 25rem;
  }
}

@include breakpoint(tablet) {
  .splash-container {
    flex-direction: row;
  }
}
