@import 'src/styles/variables/colors.scss';

.nav-bar {
  width: 90%;
  padding: 4px 100px 4px;
  position: fixed;
  top: 0;
  z-index: 999;
  flex-direction: row;
  justify-content: space-between;
  color: $white;
  transition: all 0.5s ease-in-out;
}

.nav-bar.active {
  background-color: $nav-backg;
  transition: all 0.5s ease-in-out;
}

.nav-logo {
  width: 2rem;
}

.nav-buttons {
  flex-direction: row;
}
