$black: #393a3c;
$white: #f7f7f7;
$form-white: #eee;
$blue: #8ab6ee;

$nav-backg: rgba(108, 147, 190, 0.9);

$splash-backg: rgba(94, 123, 154, 0.9);

$careers-backg: linear-gradient(
  rgba(57, 58, 60, 0.8) 0%,
  rgba(57, 58, 60, 0.8) 70%,
  rgba(94, 96, 99, 1) 100%
);
$video-backg: linear-gradient(
  rgba(94, 96, 99, 1) 0%,
  rgba(247, 247, 247, 1) 50%
);

$map-modal-backg: rgba(57, 58, 60, 0.85);

$footer-backg: rgba(108, 147, 190, 1);
