$black: #393a3c;
$white: #f7f7f7;
$form-white: #eee;
$blue: #47709e;

$nav-backg: rgba($color: #47709e, $alpha: 0.95);

$splash-backg: rgba($color: #5e7b9a, $alpha: 0.9);

$careers-backg: linear-gradient(
  rgba($color: #393a3c, $alpha: 0.8) 0%,
  rgba($color: #393a3c, $alpha: 0.8) 70%,
  rgba($color: #5e6063, $alpha: 1.0) 100%
);
$video-backg: linear-gradient(#5e6063 0%, #f7f7f7 50%);

$map-modal-backg: rgba($color: #393a3c, $alpha: 0.85);

$footer-backg: #47709e;
